.bg-color {
    background-color: #ffffff;
}

.nav-link.active {
    background-color: #f2f2f271;
    color: #0d4ba0;
    font-weight: bold;
}

.custom-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}